<p>
  companyadd works!
</p>
<form class="form-horizontal" [formGroup]="companyForm" role="form" (ngSubmit)="onSubmit(companyForm.value)">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="companyCd">Company Code:</label>
    <div class="col-sm-6">
     <input class="form-control" id="companyCd"  formControlName="companyCd" type="text" placeholder="Company Code...">
    </div>
  </div>
    <div class="form-group">
    <label class="col-sm-2 control-label" for="companyName">Company Name:</label>
    <div class="col-sm-6">
     <input class="form-control" id="companyName"  formControlName="companyName" type="text"  placeholder="Company Name...">
    </div>
  </div>
  
    <div class="form-group">
    <label class="col-sm-2 control-label" for="ceoName">CEO Name:</label>
    <div class="col-sm-6">
     <input class="form-control" id="ceoName" formControlName="ceoName"  type="text" placeholder="CEO Name...">
    </div>
  </div>
    <div class="form-group">
    <label class="col-sm-2 control-label" for="director">Director:</label>
    <div class="col-sm-6">
     <input class="form-control" id="director" formControlName="director"  type="text"  placeholder="Director...">
    </div>
  </div>
  
     <div class="form-group">
    <label class="col-sm-2 control-label" for="brief">Description:</label>
    <div class="col-sm-6">
     <input class="form-control" id="brief" formControlName="brief" type="text" placeholder="Description...">
    </div>
  </div>
  
     <div class="form-group">
    <label class="col-sm-2 control-label" for="exchCd">Exchange Code:</label>
    <div class="col-sm-6">
    <select class="custom-select" id="exchCd" formControlName="exchCd">
                    <option value="se0">Please select stock exchange</option>
					<option value="se1">BSE</option>
                    <option value="se2">NSE</option>
                    <option value="se3">NASDAQ</option>
                    <option value="se4">NYSE</option>
      </select>
	</div>
	</div>
	      <div class="form-group">
    <label class="col-sm-2 control-label" for="sectorCd">Sector Code:</label>
    <div class="col-sm-6">
	<select class="custom-select" id="sectorCd" formControlName="sectorCd">
					<option value="sc0">Please select sector</option>
                    <option value="sc1">IT</option>
                    <option value="sc2">Infotainment</option>
                    <option value="sc3">Finance</option>
                    <option value="sc4">Real-Estate</option>
    </select>
    </div>
   </div>
  	<a href="#"><img src="img/add.png" class="img-circle">Add Company</a>
</form>