<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Stock Marketing Chart System</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul *ngIf="userName!=null"class="nav navbar-nav">
		<li><a routerLink="/upload" *ngIf="loginService.role=='admin'">Import Stock Data</a></li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Company <span class="caret"></span></a>
          <ul class="dropdown-menu">            
            <li><a routerLink="/companylist">Find Company</a></li>
			<li><a routerLink="/companyupdate" [queryParams]="{op:'add'}" *ngIf="loginService.role=='admin'">Add Company</a></li>
          </ul>
        </li>        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exchange <span class="caret"></span></a>
          <ul class="dropdown-menu">            
            <li><a routerLink="/exchangelist">Exchange List</a></li>
			<li><a routerLink="/exchangeadd" [queryParams]="{op:'add'}" *ngIf="loginService.role=='admin'">Add Exchange</a></li>
          </ul>
        </li>
		<li><a routerLink="/ipoplan" [queryParams]="{op:'add'}" *ngIf="loginService.role=='admin'">Add IPO</a></li>
		
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chart <span class="caret"></span></a>
          <ul class="dropdown-menu">            
            <li><a routerLink="/singlestockchart">company chart</a></li>
			<li><a routerLink="/mulstockchart">company comparison chart</a></li>
			<li><a routerLink="/singlesectorchart">sector chart</a></li>
			<li><a routerLink="/mulsectorchart">sector comparison chart</a></li>
			<li><a routerLink="/stocksectorchart">company sector comparison chart</a></li>
          </ul>
        </li>
      </ul> 
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/signin" *ngIf="userName==null">Sign in</a></li>
        <li><a routerLink="/signup" *ngIf="userName==null">Sign up</a></li>
		<li><a  (click)="logout()" style="cursor:pointer" *ngIf="userName!=null">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>