<p>
  signup works!
</p>
<table width="60%" align="center">
	<tr><td>
   <form class="form-horizontal"  [formGroup]="userForm" (ngSubmit) = "onClickSubmit(userForm.value)">
   <div class="form-group">
   	<div class="col-lg-7">
   <h2 class="red-text text-center">User Profile</h2>
	</div> 
	</div>
	<br/>
	<br/>
   <div class="form-group">
      <label for="userName" class="col-sm-2 control-label">User name: </label>
      <div class="col-lg-5">
         <input type="text" class="form-control" id="userName" formControlName="userName" value="utree"
            placeholder="Please input your name" >
      </div>
   </div>
   <div class="form-group" >
      <label for="password" class="col-sm-2 control-label" >password: </label>
      <div class="col-lg-5" >
         <input type="password" class="form-control" id="password"  formControlName="password" value="111111"
            placeholder="Please input password" >
      </div>
   </div>
      <div class="form-group" >
      <label for="role" class="col-sm-2 control-label" >User Type: </label>
      <div class="col-lg-5" >
		<select class="custom-select" id="role" formControlName="role" disabled="true">
            <option value="user" selected >User</option>
            <option value="admin">Administrator</option>
     </select>
      </div>	  
   </div>
    
	<div class="form-group" >
      <label for="email" class="col-sm-2 control-label" >Email: </label>
      <div class="col-lg-5" >
         <input type="input" class="form-control" id="email"  formControlName="email" value="liangydl@cn.ibm.com"
            placeholder="Please input your email" >
      </div>
   </div>
   
    <div class="form-group" >
      <label for="mobileNumber" class="col-sm-2 control-label" >Mobile Number: </label>
      <div class="col-lg-5" >
         <input type="input" class="form-control" id="mobileNumber"  formControlName="mobileNumber" value="1334859670"
            placeholder="Please input mobile number" >
      </div>
   </div>

   <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
		<input class="btn btn-default" type = "button" (click)="save()" value = "Save">

		<input class="btn btn-default" type = "button" (click)="sendMail()" value = "Send Email">
      </div>
   </div></form>
 </td></tr></table>