<p>
  ipoplan works!
</p>
<form class="form-horizontal" [formGroup]="ipoForm" role="form" (ngSubmit)="onSubmit(ipoForm.value)">   
    <div class="form-group">
   	<div class="col-lg-8">
   <h3 class="text-center">IPO Plan</h3>
	</div> 
	</div>	 
	<div class="form-group">
    <label class="col-sm-2 control-label" for="companyCd">Company Name:</label>
    <div class="col-sm-6"  ng-controller="ngSelect">
     <select class="custom-select" id="companyCd" formControlName="companyCd" style="width:400px;line-height:40px;height:30px">
	 <option *ngFor="let company of compNameList; index as productId" value="{{company[0]}}" >{{company[0]}}-{{company[1]}}</option>
	 
		</select> &nbsp;&nbsp;

    </div>
  </div>

   <div class="form-group">
    <label class="col-sm-2 control-label" for="exchCd">Exchange Name:</label>
    <div class="col-sm-6">
  	      <select class="custom-select" id="exchCd" formControlName="exchCd" style="width:400px;line-height:40px;height:30px">
			<option *ngFor="let exch of exchNameList; index as productId" value="{{exch[0]}}">{{exch[0]}}-{{exch[1]}}</option>
		</select> &nbsp;&nbsp;
	</div>
	</div>
   
   <div class="form-group">
    <label class="col-sm-2 control-label" for="stockCd">Stock Code:</label>
    <div class="col-sm-6">
     <input class="form-control" id="stockCd" formControlName="stockCd"  type="text" placeholder="stockCd...">
    </div>
  </div> 
    <div class="form-group">
    <label class="col-sm-2 control-label" for="pricePerShare">Price Per Share:</label>
    <div class="col-sm-6">
     <input class="form-control" id="pricePerShare" formControlName="pricePerShare"  type="text" placeholder="Price...">
    </div>
  </div>
  
     <div class="form-group">
    <label class="col-sm-2 control-label" for="totalShares">Total Shares:</label>
    <div class="col-sm-6">
     <input class="form-control" id="totalShares" formControlName="totalShares" type="text" placeholder="totalShares...">
    </div>
  </div>
     <div class="form-group">
    <label class="col-sm-2 control-label" for="openDate">Open Date:</label>
    <div class="col-sm-6">
     <input class="form-control" id="openDate" formControlName="openDate"  type="text"  placeholder="Date...">
    </div>
  </div>  
  
     <div class="form-group">
    <label class="col-sm-2 control-label" for="remarks">Remarks:</label>
    <div class="col-sm-6">
     <input class="form-control" id="remarks" formControlName="remarks"  type="text"  placeholder="Remarks...">
    </div>
  </div>
   <div class="btn-group col-sm-offset-6 col-sm-6">
   	<input class="btn btn-default" type = "submit" value = "Save">
 	<input (click)="goBack()" class="btn btn-default" type = "button" value = "Back">

	</div>
</form>