<p>
  ipoplan works!
</p>
<form class="form-horizontal" [formGroup]="companyForm" role="form" (ngSubmit)="onSubmit(companyForm.value)">
   <div class="form-group">
    <label class="col-sm-2 control-label" for="companyCd">Company Code:</label>
    <div class="col-sm-6">
     <input class="form-control" id="exchCd"  formControlName="companyCd" type="text" value="Company Code...">
    </div>
  </div>
    <div class="form-group">
    <label class="col-sm-2 control-label" for="exchCd">Exchange Code:</label>
    <div class="col-sm-6">
     <input class="form-control" id="exchCd"  formControlName="exchCd" type="text"  value="Exchange Code...">
    </div>
  </div>
  
         <div class="form-group">
    <label class="col-sm-2 control-label" for="pricePerShare">Price Per Share:</label>
    <div class="col-sm-6">
     <input class="form-control" id="pricePerShare" formControlName="pricePerShare"  type="text" value="Price...">
    </div>
  </div>
  
     <div class="form-group">
    <label class="col-sm-2 control-label" for="totalShares">Total Shares:</label>
    <div class="col-sm-6">
     <input class="form-control" id="totalShares" formControlName="totalShares" type="text" value="totalShares...">
    </div>
  </div>
     <div class="form-group">
    <label class="col-sm-2 control-label" for="openDate">Open Date:</label>
    <div class="col-sm-6">
     <input class="form-control" id="openDate" formControlName="openDate"  type="text"  value="Date...">
    </div>
  </div>  
  
     <div class="form-group">
    <label class="col-sm-2 control-label" for="remarks">Remarks:</label>
    <div class="col-sm-6">
     <input class="form-control" id="remarks" formControlName="remarks"  type="text"  value="Remarks...">
    </div>
  </div>
  
   	<a href="#"><img src="img/add.png" class="img-circle">Update</a>

</form>